.book-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #fff;
  border: 0;
  text-decoration: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .08);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .08);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .08);
  position: relative;
  padding: 5px;
}

.book-box__image {
  max-width: 100%;
  position: relative;
  display: flex;
  cursor: pointer;
  height: 200px;
  justify-content: center;
  object-fit: contain;
  background-color: hsl(0, 0%, 94%);
}

.book-box__footer {
  padding: 16px;
  flex-grow: 1;
  line-height: 1.24;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-box__footer__title {
  color: #444;
  margin-bottom: 5px;
}

.book-box__footer__subtitle {
  color: #08c65b;
  font-size: 20px;
}

.book-box__image__content {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.book-box__controller--prev,
.book-box__controller--next {
  display: none;
  outline: 0;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 0;
  background: rgba(255, 255, 255, .7);
}

.book-box__controller--prev {
  left: 5px;
  text-indent: -3px;
}

.book-box__controller--next {
  right: 5px;
}

.book-box__cta:hover {
  background-color: #08c65b;
}

.book-box__cta {
  display: none;
  text-decoration: none;
  position: absolute;
  bottom: 5px;
  font-size: 18px;
  border-radius: 4px;
  text-align: center;
  padding: 5px 10px;
  background-color: rgba(#08c65b, .7);
  color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;
  line-height: 30px;
  width: calc(100% - 20px);
  transition: all ease-in .2s;

}

.book-box__image:hover .book-box__cta {
  display: initial;
}

.book-box__image:hover .book-box__controller--prev,
.book-box__image:hover .book-box__controller--next {
  display: initial;
}

.hero {
  padding: 40px 0;
  background-color: #1ebea5;
  color: #fff;
}

.hero__title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  word-break: break-word;
}

.hero__subtitle {
  margin-top: 20px;
  line-height: 1.5;
  opacity: .9
}